* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: linear-gradient(
    90deg,
    rgb(219, 167, 175),
    rgb(240, 98, 122)
  );
}

.intro {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-text {
  font-size: 5rem;
  text-align: center;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 212, 236));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.love-btn {
  padding: 0.5em 0.75em;
  font-size: 2rem;
  margin: 2em;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 9px rgb(168, 166, 166);
}

.love-btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

@media (max-width: 768px) {
  .intro-text {
    font-size: 3rem;
  }
}
