* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: linear-gradient(
    90deg,
    rgb(253, 199, 208),
    rgb(247, 126, 146)
  );
}

.intro {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-text {
  font-size: 5rem;
}

.love-btn {
  padding: 0.5em 0.75em;
  font-size: 2rem;
  margin: 2em;
  border: none;
  border-radius: 5px;
  outline: none;
}

@media (max-width: 768px) {
  .intro-text {
    font-size: 3rem;
  }
}
